<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.0.0" targetFramework="net40" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net40" />
  <package id="DockPanelSuite" version="2.10.0" targetFramework="net40" />
  <package id="FCTB" version="2.16.11.0" targetFramework="net40" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.4.9.4" targetFramework="net40" requireReinstallation="true" />
  <package id="IronPython" version="2.7.5" targetFramework="net40" requireReinstallation="true" />
  <package id="Ivony.Core" version="1.1.1" targetFramework="net40" />
  <package id="Jumony.Core" version="3.0.15" targetFramework="net40" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net40" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net40" requireReinstallation="true" />
  <package id="Quartz" version="2.3.3" targetFramework="net40" />
  <package id="ScrapySharp" version="2.6.2" targetFramework="net40" requireReinstallation="true" />
  <package id="XMLDatabase" version="2.1" targetFramework="net40" />
</packages>